<h1>New Pattern</h1>
<%= form_for :pattern, url: patterns_path do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :pattern %>
    <%= f.text_field :pattern %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
